body{
    background-color: #090E16;
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;
    color: #fff;
}
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 155px;
    background-color: rgba(123, 74, 226, 0.1);
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    color: rgba(123, 74, 226, 1);
    margin-bottom: 10px;
}